

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>
      {% if page.layout == "book" %}
        {{page.title}} - {{site.title}}
      {% elif page.layout == "chapter" %}
        {{page.title}} - {{back_book_title}} - {{site.title}}
      {% else %}
        {{site.title}}
      {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    {% if page.redirect %}
      <meta http-equiv="refresh" content="2; URL={{ page.redirect }}">
    {% endif %}
  </head>
  <body>
    <a href="/">
      <header>
        <h1>Clemens Family Website</h1>
      </header>
    </a>
    <div id="content">
      {{ content }}
      {% if page.comments %}
        {% include comments.html %}                            
      {% endif %}
    </div>
  </body>
</html>
