<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>
      {% if page.layout == "book" %}
        {{ page.title }} - {{ site.title }}
      {% elsif page.layout == "chapter" %}
        {{ page.title }} - {{ site.title }}
      {% else %}
        {{ site.title }}
{% endif %}
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
        {% if page.redirect %}
      <meta http-equiv="refresh" content="2; URL={{ page.redirect }}">
{% endif %}
  </head>
  <body>
      <header>
          <div id="header-inner">
              <div id="title">
            <a href="/">{{ site.title }}</a>
              </div>
              <nav>
      <form action="/search" method="get" align="right">
        <div class="input-group">
          <input type="text" id="search_box" name="query" class="form-control">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </form></br>
          <a href="about.html">about</a>
              </nav>
          </div>
      </header>
    <div id="content">
      {{ content }}
      {% if page.comments %}
        {% include comments.html %}                            
{% endif %}
    </div>
    <footer>
    </footer>
  </body>
</html>
